body{
	background-color: #323232;
	text-align: center;
	font-family: "Centure Gothic", Arial, sans-serif;
	font-size: 14px;
}
#wrapping{
	width: 1000px;
	height: 700px;
	display: flex;
	flex-direction: column;
	background-color: #323232;
	position: relative;
	margin: auto;
}
#header{
	border: 2px solid #e0e0e0;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}
#title{
	border: 2px solid #e0e0e0;
	flex-grow: 3;
	background-color: blue;
}
#contact{
	border: 2px solid #e0e0e0;
	flex-grow: 2;
	background-color: yellow;
}
#content{
	background-color: #ffffff;
	border: 2px solid #e0e0e0;
	flex-grow: 10;
	display: flex;
	flex-direction: row;
}
#images{
	flex-basis: 50%;
	background-color: #e0e0e0;
	border: 2px solid #323232;
	display: flex;
	flex-direction: column;
}
#slideshow{
	border: 2px solid #323232;
	width: 500px;
	height: 500px;
	position: relative;
	overflow: hidden;
}
@keyframes inFromRight{
	from { left: 500px; }
	to { left: 0px; }
}
@keyframes outFromLeft{
	from { left: 0px; }
	to { left: -500px; }
}
#stillImage{
	border: 2px solid #e0e0e0;
	background-color: green;
	flex-grow: 1;
	border: 2px solid #323232;
}
#information{
	flex-basis: 50%;
	background-color: #e0e0e0;
	border: 4px solid #323232;
	padding: 10px;
}
.image{
	width: 500px;
	height: 500px;
	position: absolute;
	left: 0px;
}
.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 4px solid #36752D;
}
.datagrid table td, .datagrid table th {
    padding: 10px 10px;
}
.datagrid table tbody td {
    color: #000000;
    font-size: 12px;
    font-weight: bold;}
.datagrid table tbody .alt td {
    background: #D5FFCC;
    color: #000000;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}


